pip==23.2.1
cryptography==46.0.3
Pillow==9.3.0
Jinja2==3.1.6
setuptools==65.5.0
packaging==25.0
pyparsing==3.2.5
recipes==0.1
typing_extensions==4.15.0
matplotlib==3.10.7
Django==4.1.4
beautifulsoup4==4.14.2